%h2= t :'admissions.title'

%ul.thumbnails
  %li.span6
    .thumbnail.alert.alert-success
      = link_to image_tag(asset_path('eastside-logo.png')), eastside_url, { :class => 'thumbnail' }
      .caption
        = link_to "#{t :'admissions.eastside_link_caption'}", eastside_url
    .thumbnail.alert.alert-info
      = link_to image_tag(asset_path('tpca-logo.png')), tpca_url, { :class => 'thumbnail' }
      .caption
        = link_to "#{t :'admissions.tpca_link_caption'}", tpca_url
  %li.span6
    .thumbnail.alert.alert-info
      = link_to image_tag(asset_path('crossroads-logo.png')), crossroads_url, { :class => 'thumbnail' }
      .caption
        = link_to "#{t :'admissions.tpca_link_caption'}", crossroads_url

%h3= t :'admissions.intro.title'
%p= t :'admissions.intro.desc'

.alert.alert-info
  %h3= t :'admissions.questions.title'
  %p= raw t(:'admissions.questions.desc', :encoded_email => encoded_email)

%h3= t :'admissions.philosophy.title'
%p= t :'admissions.philosophy.desc'
%hr

%h3= t :'admissions.process.title'
%p= raw(t :'admissions.process.desc', :encoded_email => encoded_email)
%hr

.row
  .span5
    .well
      %h3= t :'admissions.calendar.title'
      %p= raw(t :'admissions.calendar.desc')
  .span7
    %h3= t :'admissions.school_fees.title'
    %p= raw(t :'admissions.school_fees.desc')

%h3= t :'admissions.additional_costs.title'
%p= raw(t :'admissions.additional_costs.desc')

%h3
  %a.anchor(name='homestay' href="#homestay" style="color: inherit")
    %span= t :'admissions.homestay.title'
%p= raw(t :'admissions.homestay.desc')

%h3= t :'admissions.mm_fees.title'
%p= raw(t :'admissions.mm_fees.desc')
%hr
