%h2= t :'contact.title'

%p
  .row
    .span5
      = raw t(:'contact.desc')
      %br
      %hr

      - flash.each do |type, message|
        %div.alert.fade.in{ :class => "alert-#{twitterized_type(type)}" }
          %a.close(data-dismiss="alert") x
          = message

      = simple_form_for(@contact_form, :html => { :id => 'contact-form', :class => 'form-vertical' }) do |f|
        = f.error_notification

        .form-inputs
          = f.input :contact, :label => t(:'contact.form.contact')
          = f.input :message, :label => t(:'contact.form.message')
        .form-actions
          = f.button :submit, :value => t(:'contact.form.button'), :class => 'btn'

    .span1
      &nbsp;
    .span6
      .well
        = raw t(:'contact.table.desc')
        %table.table.table-striped.table-bordered.table-condensed
          %tbody
            %tr
              %td
                = t :'contact.table.email.title'
              %td
                = raw t(:'contact.table.email.email', :encoded_email => encoded_email)
            %tr
              %td
                = t :'contact.table.phone.title'
              %td
                = raw t(:'contact.table.phone.desc')
            %tr
              %td
                = t :'contact.table.in_person.title'
              %td
                = raw t(:'contact.table.in_person.desc')
