%ul.thumbnails
  %li
    %a.thumbnail(target="_blank" href="http://www.eastsidechristian.org")
      = image_tag(asset_path('eastside-logo.png'), { :alt => "Eastside Christian Schools" })

.alert.alert-info
  %h3= t :'eastside.admissions.title'
  = raw(t :'eastside.admissions.desc', :encoded_email => encoded_email)

%p
  .row
    .span6
      %h3
        = t :'eastside.history.title'
      %p
        = link_to "#{t :'eastside.link.title'}", "http://www.eastsidechristian.org", { :target => "_blank" }
      = raw(t :'eastside.history.desc')
    .span6
      -if I18n.locale == :'zh-CN'
        -#-chinese
        <embed src='http://player.youku.com/player.php/sid/XMzcyMTQxMTky/v.swf' quality='high' width='432' height='360' align='right' allowScriptAccess='sameDomain' type='application/x-shockwave-flash'></embed>
      -elsif I18n.locale == :ko
        -#korean
        <embed src='http://player.youku.com/player.php/sid/XMzcyMTQ2NzQ0/v.swf' quality='high' width='432' height='360' align='right' allowScriptAccess='sameDomain' type='application/x-shockwave-flash'></embed>
      -else
        -#english (no subtitles)
        <embed src='http://player.youku.com/player.php/sid/XMzUyNDA4MjM2/v.swf' quality='high' width='432' height='360' align='right' allowScriptAccess='sameDomain' type='application/x-shockwave-flash'></embed>
%hr

.row
  .span6
    %ul.thumbnails
      %li.span6
        %a.thumbnail(target="_blank" href="http://maps.google.com/maps?q=Eastside+Christian+Schools+++1645+West+Valencia+Drive,+Fullerton,+CA&hl=en&ll=33.866923,-117.958188&spn=0.029683,0.037594&sll=33.866353,-117.958188&sspn=0.029683,0.037594&hq=Eastside+Christian+Schools+++1645+West+Valencia+Drive,+Fullerton,+CA&t=m&z=15")
          = image_tag asset_path("eastside_map.png")
          .caption= t :'eastside.map_caption'
  .span6
    = raw(t :'eastside.fast_facts.desc')

%h3= t :'eastside.about.title'
= raw(t :'eastside.about.desc')

.row
  .span10
    %p
      %h3= t :'eastside.accreditation.title'
      = raw(t :'eastside.accreditation.desc')
    %p
      %h3= t :'eastside.academics.title'
      = raw(t :'eastside.academics.desc')
  .span2
    = image_tag asset_path("eastside_accreditation.png")

