<!-- Main hero unit for a primary marketing message or call to action -->
.hero-unit
  %h2= t :home_hero_title
  %p= t :home_hero_desc
  %p 
    %a.btn.btn-primary.btn-large 
      = t :home_hero_button
      &raquo;

<!-- Example row of columns -->
.row
  .span4
    %h2= t :home_heading1_title
    %p= t :home_heading1_desc
    %p
      %a.btn(href="#")= t :home_heading1_button_html
  .span4
    %h2= t :home_heading2_title
    %p= t :home_heading2_desc
    %p
      %a.btn(href="#")= t :home_heading2_button_html
  .span4
    %h2= t :home_heading3_title
    %p= t :home_heading3_desc
    %p
      %a.btn(href="#")= t :home_heading3_button_html
