<!-- Main hero unit for a primary marketing message or call to action -->
.hero-unit
  %h2= t :'home.hero.title'
  %p= t :'home.hero.desc'
  %p 
    = link_to t(:'home.hero.button_html'), admissions_url, { :class => 'btn btn-primary btn-large' }

<!-- Example row of columns -->
.row
  .span4
    %h2= raw(t :'home.heading1.title')
    %p= t :'home.heading1.desc'
    %p
      = link_to t(:'home.heading1.button_html'), admissions_url, { :class => 'btn' }
  .span4
    %h2= raw(t :'home.heading2.title')
    %p= t :'home.heading2.desc'
    %p
      = link_to t(:'home.heading1.button_html'), exchange_url, { :class => 'btn' }
  .span4
    %h2= raw(t :'home.heading3.title')
    %p= t :'home.heading3.desc'
    %p
      = link_to t(:'home.heading3.button_html'), university_tour_url, { :class => 'btn' }
