%h2= t :'about.staff.title'

.row
  .span4
    = image_tag asset_path("staff_grace.jpg"), { :align => "right" }
  .span8
    .staff_title
      = t :'about.staff.grace.title'
    = raw t(:'about.staff.grace.desc')
%hr

.row
  .span8
    .staff_title
      = t :'about.staff.sung.title'
    = raw t(:'about.staff.sung.desc')
  .span4
    = image_tag asset_path("staff_sung.png")
%hr

.row
  .span4
    = image_tag asset_path("staff_chloe.png")
  .span8
    .staff_title
      = t :'about.staff.chloe.title'
    = raw t(:'about.staff.chloe.desc')
%hr

.row
  .span8
    .staff_title
      = t :'about.staff.esther.title'
    = raw t(:'about.staff.esther.desc')
  .span4
    = image_tag asset_path("staff_esther.jpg"), { :align => "right" }
%hr

.row
  .span3
    = image_tag asset_path("staff_daniel.png")
  .span9
    .staff_title
      = t :'about.staff.daniel.title'
    = raw t(:'about.staff.daniel.desc')
%hr
