!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : t(:'header.title')
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    = stylesheet_link_tag    "application"
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.i-bar
            %span.i-bar
            %span.i-bar
              %a.brand{:href => "#{root_path}"}= t :'header.title'
          .container.nav-collapse
            %ul.nav
              %li= link_to t(:'header.link_home'), root_path
              %li.dropdown 
                = link_to raw("#{'Services'} <b class='caret'></b>"), root_url, { :class => "dropdown-toggle", 'data-toggle' => "dropdown" }
                %ul.dropdown-menu
                  %li
                    = link_to "Admissions Consulting", admissions_url
                  %li
                    = link_to "Cultural Exchange", exchange_url
                  %li
                    = link_to "American University Tour", university_tour_url
                  %li.divider
                  %li
                    = link_to "Space Rental", space_rental_url
              %li.dropdown 
                = link_to raw("#{'About'} <b class='caret'></b>"), root_url, { :class => "dropdown-toggle", 'data-toggle' => "dropdown" }
                %ul.dropdown-menu
                  %li
                    = link_to "Mission Statement", mission_url
                  %li
                    = link_to "Locations", locations_url
                  %li
                    = link_to "Staff", staff_url
                  %li.divider
                  %li
                    = link_to "Our Name", our_name_url

              %li= link_to t(:'header.link_contact'), contact_path
            %ul.nav.pull-right
              %li{ :class => params[:locale].nil? || params[:locale].include?('zh-CN') ? "active" : '' }
                = link_to "中文", url_for(:controller => params[:controller], :action => params[:action], :locale => 'zh-CN')
              %li{ :class => params[:locale] && params[:locale].include?('ko') ? "active" : '' }
                = link_to "한국의", url_for(:controller => params[:controller], :action => params[:action], :locale => 'ko')
              %li{ :class => params[:locale] && params[:locale].include?('en') ? "active" : '' }
                = link_to "English", url_for(:controller => params[:controller], :action => params[:action], :locale => 'en')

    .container
      = yield
    
      %footer
        %p= t :footer_html
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
